:root {
	--yellow:#F4C047;
	--orange:#F4680B;
	--black:#0C1327;
	--navy:#0E092F;
	--white:#FFFDF0;
	--purple:#5E1C5A;
	--pink:#F45D92;
	--green:#B9ED5E;
	--content-trans:rgba(70,91,231,0.2);
	--black-trans:rgba(12,19,39,0.4);
	--grad1:rgba(27,24,83,0.5);
	--grad2:rgba(94,28,90,0.5);
}

@font-face {
	font-family:titleFont;
	src:url(fonts/born2bsportyv2.ttf);
}

* {
	box-sizing: border-box;
}

html {
	background-color:var(--black);
	background-image:url("image/noise.png"), radial-gradient(farthest-corner at 100% 100%, var(--grad2), var(--grad1));
	background-repeat:repeat, no-repeat;
	background-attachment:fixed;
	background-position:right bottom;
	height:100%;
	width:100%;
}

.flex-container {
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-start;
	align-items:stretch;
	align-content:stretch;
}

.leftcolumn {
	order:1;
	flex: 0 1 300px;
	padding:0px 40px;
	margin:20px 0px;
	border-right-style:solid;
	border-right-color:var(--yellow);
	background-image:radial-gradient(farthest-corner at 100% 50%, var(--grad2), transparent, transparent);
	list-style-type:none;
}

.rightcolumn {
	order:2;
	flex: 0 3 800px;
	margin:0px 50px;
}

.content {
	background-color:var(--content-trans);
	background-image:radial-gradient(farthest-corner at 100% 0%, var(--content-trans), transparent);
	box-shadow: 0 6px 8px 0 var(--black-trans), 0 8px 20px 0 var(--black-trans);
	padding: 10px 30px 60px 30px;
	margin:50px 0px;
	overflow:auto;
	position:relative;
	
	border-top-style:solid;
	border-top-color:var(--yellow);
}

.sticky {
	position:sticky;
	top:20px;
}

.nomargin {margin:0px;}

.selfpic {
	float:none;
	max-width:100%;
}

p {
	font-family: 'Cabin', sans-serif;
	font-size:20px;
	color:var(--white);
	margin-top:30px;
	text-shadow:0.1em 0.1em 2px var(--black);
	line-height:1.5;
}

li {
	font-family: 'Cabin', sans-serif;
	font-size:20px;
	color:var(--white);
	text-shadow:0.1em 0.1em 2px var(--black);
}

ul {
	font-family: 'Cabin', sans-serif;
	font-size:20px;
	color:var(--white);
	text-shadow:0.1em 0.1em 2px var(--black);
	margin-bottom:10px;
}

h2 {
	font-family:titleFont;
	font-size:32px;
	color:var(--yellow);
	text-shadow:0.1em 0.1em 2px var(--black);
}

.header {
	margin:20px 0px;
}

.biglink {
	font-family:titleFont;
	letter-spacing:2px;
	font-size:48px;
	text-shadow:0.1em 0.1em var(--black);
}

a {
	font-family:titleFont;
	font-size:28px;
	text-decoration:none;
	text-shadow: 0.1em 0.1em var(--black);
	transition-duration:0.1s;
}

a:link, a:visited {
	color:var(--yellow);
}

a:active, a:hover {
	color: var(--orange);
}

a.plain:link {
	text-shadow: 0.1em 0.1em var(--black);
	font-family: 'Cabin', sans-serif;
	font-size:20px;
}

.readmore {
	text-align: right;
	position:absolute;
	bottom:20px;
	right:40px;
}

img, iframe {
	border: 3px solid var(--yellow);
	box-shadow: 0 4px 8px 0 var(--black-trans), 0 6px 20px 0 var(--black-trans);
	max-width: 50%;
	height: auto;
	
	display:block;
	float:left;
	margin:0px 20px 20px 0px;
}

#topnav {display:none;}

.visibledevice {display:none;}
.visibledesktop {display:block;}

@media (max-width: 800px) {
	.flex-container {
		flex-flow:column nowrap;
	}
	
	.leftcolumn {
		order:2;
		flex:100%;
		
		border-right-style:none;
		border-top-style:solid;
		border-top-color:var(--yellow);
		margin:0px;
		
		background-image:radial-gradient(farthest-corner at 50% 0%, var(--grad2), transparent, transparent);
	}

	.rightcolumn {
		order:1;
		flex:100%;
		margin:0px 50px;
	}
	
	img, iframe {
		float:none;
		max-width:100%;
	}
}